In [15]:
# Write a python program to display all the header tags from wikipedia.org.

import requests
from bs4 import BeautifulSoup
 
url_link = 'https://en.wikipedia.org/wiki/Main_Page'
request = requests.get(url_link)
 
Soup = BeautifulSoup(request.text, 'lxml')
 
# creating a list of all common heading tags
heading_tags = ["h1", "h2", "h3"]
for tags in Soup.find_all(heading_tags):
    print(tags.name + ' -> ' + tags.text.strip())

h1 -> Main Page
h1 -> Welcome to Wikipedia
h2 -> From today's featured article
h2 -> Did you know ...
h2 -> In the news
h2 -> On this day
h2 -> From today's featured list
h2 -> Today's featured picture
h2 -> Other areas of Wikipedia
h2 -> Wikipedia's sister projects
h2 -> Wikipedia languages
h2 -> Navigation menu
h3 -> Personal tools
h3 -> Namespaces
h3 -> Views
h3 -> Search
h3 -> Navigation
h3 -> Contribute
h3 -> Tools
h3 -> Print/export
h3 -> In other projects
h3 -> Languages

In [10]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.10)

In [42]:
#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
soup = BeautifulSoup(page.content)
movie_name =[]
for  i in soup.find_all('h3', class_="lister-item-header"):
     movie_name.append(i.text.replace('\n',''))
movie_name
rating =[]
for  i in soup.find_all('div', class_="inline-block ratings-imdb-rating"):
     rating.append(i.text.replace('\n',''))
rating
year =[]
for  i in soup.find_all('span', class_="lister-item-year text-muted unbold"):
     year.append(i.text)
year

import pandas as pd
df = pd.DataFrame({'movie_name':movie_name,'rating':rating,'year':year})
df

                                           movie_name rating    year
0                    1.The Shawshank Redemption(1994)    9.3  (1994)
1                               2.The Godfather(1972)    9.2  (1972)
2                             3.The Dark Knight(2008)    9.0  (2008)
3   4.The Lord of the Rings: The Return of the Kin...    9.0  (2003)
4                            5.Schindler's List(1993)    9.0  (1993)
5                       6.The Godfather Part II(1974)    9.0  (1974)
6                                7.12 Angry Men(1957)    9.0  (1957)
7                                8.Pulp Fiction(1994)    8.9  (1994)
8                                   9.Inception(2010)    8.8  (2010)
9      10.The Lord of the Rings: The Two Towers(2002)    8.8  (2002)
10                                11.Fight Club(1999)    8.8  (1999)
11  12.The Lord of the Rings: The Fellowship of th...    8.8  (2001)
12                              13.Forrest Gump(1994)    8.8  (1994)
13           14.Il buono, il brutto, il cattivo(1966)    8.8  (1966)
14                                15.The Matrix(1999)    8.7  (1999)
15                                16.Goodfellas(1990)    8.7  (1990)
16                   17.The Empire Strikes Back(1980)    8.7  (1980)
17           18.One Flew Over the Cuckoo's Nest(1975)    8.7  (1975)
18                         19.Top Gun: Maverick(2022)    8.6  (2022)
19                              20.Interstellar(2014)    8.6  (2014)
20                            21.Cidade de Deus(2002)    8.6  (2002)
21             22.Sen to Chihiro no kamikakushi(2001)    8.6  (2001)
22                       23.Saving Private Ryan(1998)    8.6  (1998)
23                            24.The Green Mile(1999)    8.6  (1999)
24                           25.La vita è bella(1997)    8.6  (1997)
25                                     26.Se7en(1995)    8.6  (1995)
26                27.Terminator 2: Judgment Day(1991)    8.6  (1991)
27                  28.The Silence of the Lambs(1991)    8.6  (1991)
28                                 29.Star Wars(1977)    8.6  (1977)
29                                   30.Seppuku(1962)    8.6  (1962)
30                      31.Shichinin no samurai(1954)    8.6  (1954)
31                     32.It's a Wonderful Life(1946)    8.6  (1946)
32                              33.Gisaengchung(2019)    8.5  (2019)
33                                  34.Whiplash(2014)    8.5  (2014)
34                          35.The Intouchables(2011)    8.5  (2011)
35                              36.The Prestige(2006)    8.5  (2006)
36                              37.The Departed(2006)    8.5  (2006)
37                               38.The Pianist(2002)    8.5  (2002)
38                                 39.Gladiator(2000)    8.5  (2000)
39                        40.American History X(1998)    8.5  (1998)
40                        41.The Usual Suspects(1995)    8.5  (1995)
41                                      42.Léon(1994)    8.5  (1994)
42                             43.The Lion King(1994)    8.5  (1994)
43                     44.Nuovo Cinema Paradiso(1988)    8.5  (1988)
44                            45.Hotaru no haka(1988)    8.5  (1988)
45                        46.Back to the Future(1985)    8.5  (1985)
46                            47.Apocalypse Now(1979)    8.5  (1979)
47                                     48.Alien(1979)    8.5  (1979)
48              49.Once Upon a Time in the West(1968)    8.5  (1968)
49                                    50.Psycho(1960)    8.5  (1960)

In [43]:
#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.imdb.com/list/ls009997493/')
soup = BeautifulSoup(page.content)
movie_name =[]
for  i in soup.find_all('h3', class_="lister-item-header"):
     movie_name.append(i.text.replace('\n',''))
movie_name
rating =[]
for  i in soup.find_all('div', class_="ipl-rating-star small"):
     rating.append(i.text.replace('\n',''))
rating
year =[]
for  i in soup.find_all('span', class_="lister-item-year text-muted unbold"):
     year.append(i.text)
year
import pandas as pd
df = pd.DataFrame({'movie_name':movie_name,'rating':rating,'year':year})
df

                        movie_name rating    year
0          1.Rang De Basanti(2006)    8.1  (2006)
1                 2.3 Idiots(2009)    8.4  (2009)
2         3.Taare Zameen Par(2007)    8.3  (2007)
3           4.Dil Chahta Hai(2001)    8.1  (2001)
4   5.Swades: We, the People(2004)    8.1  (2004)
..                             ...    ...     ...
95            96.Wake Up Sid(2009)    7.6  (2009)
96               97.Rangeela(1995)    7.4  (1995)
97    98.Shatranj Ke Khilari(1977)    7.5  (1977)
98     99.Pyaar Ka Punchnama(2011)    7.6  (2011)
99         100.Ek Hasina Thi(2004)    7.5  (2004)

[100 rows x 3 columns]

In [44]:
#Write s python program to display list of respected former presidents of India
from bs4 import BeautifulSoup
import requests
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup = BeautifulSoup(page.content)
name =[]
for  i in soup.find_all('div', class_="presidentListing"):
     name.append(i.text.replace('\n',''))
name
import pandas as pd
df = pd.DataFrame({'name':name})
df

                                                 name
0   Shri Ram Nath Kovind (birth - 1945)Term of Off...
1   Shri Pranab Mukherjee (1935-2020)Term of Offic...
2   Smt Pratibha Devisingh Patil (birth - 1934)Ter...
3   DR. A.P.J. Abdul Kalam (1931-2015)Term of Offi...
4   Shri K. R. Narayanan (1920 - 2005)Term of Offi...
5   Dr Shankar Dayal Sharma (1918-1999)Term of Off...
6   Shri R Venkataraman (1910-2009)Term of Office:...
7   Giani Zail Singh (1916-1994)Term of Office: 25...
8   Shri Neelam Sanjiva Reddy (1913-1996)Term of O...
9   Dr. Fakhruddin Ali Ahmed (1905-1977)Term of Of...
10  Shri Varahagiri Venkata Giri (1894-1980)Term o...
11  Dr. Zakir Husain (1897-1969)Term of Office: 13...
12  Dr. Sarvepalli Radhakrishnan (1888-1975)Term o...
13  Dr. Rajendra Prasad (1884-1963) Term of Office...

In [19]:
from bs4 import BeautifulSoup
import requests
ODI_teams=BeautifulSoup(requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi').content,'html.parser')
team=[ i.text for i in ODI_teams.find_all('span',class_='u-hide-phablet')]
matches=[ i.text for i in ODI_teams.find_all('td',class_='table-body__cell u-center-text')]
matches1=[matches[i] for i in range(0,len(matches),2)][:10]
points=[matches[i] for i in range(1,len(matches),2)][:10]
ratings=[ i.text for i in ODI_teams.find_all('td',class_='table-body__cell u-text-right rating')][:10]
import pandas as pd
df=pd.DataFrame({'Matches':matches1,'Points':points,'Ratings':ratings})

df

  Matches Points Ratings
0      27  3,226     119
1      28  3,085     110
2      19  2,005     106
3      23  2,325     101
4      21  2,111     101
5      27  2,639      98
6      29  2,658      92
7      38  2,621      69
8      18  1,238      69
9      23  1,214      53

In [20]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs
page_ODI_Bat = rs.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
ODI_soup_Bat = Soup(page_ODI_Bat.content , "html.parser")
Batsmen_Name = []
Team = []
Rating =  []
Batsmen = ODI_soup_Bat.find_all("td", class_ ="table-body__cell name")
Batsmen[0:4]
for i in Batsmen:
    Batsmen_Name.append(i.get_text().replace("\n"," "))
    
Batsmen_Name[0:3]
Team_Name = ODI_soup_Bat.find_all("span", class_="table-body__logo-text")
Team_Name[0:4]
for i in Team_Name:
    Team.append(i.get_text().replace("\n"," "))

Team[0:4]
Rating_Bat = ODI_soup_Bat.find_all("td", class_="table-body__cell u-text-right rating")
Rating_Bat[0:4]
for i in Rating_Bat:
    Rating.append(i.get_text().replace("\n"," "))

Rating[0:4]
Batsmen_Name.insert(0 , 'Babar Azam')
Team.insert(0 ,'PAK')
Rating.insert(0,'815')
import pandas as pd

Top_Batsmen_ODI = pd.DataFrame({})
Top_Batsmen_ODI["Batsmen_Names"]=Batsmen_Name
Top_Batsmen_ODI["Team_Names"]=Team
Top_Batsmen_ODI["Rating"]=Rating
Top_Batsmen_ODI.head(10)

             Batsmen_Names Team_Names Rating
0               Babar Azam        PAK    815
1             Imam-ul-Haq         PAK    815
2   Rassie van der Dussen          SA    789
3         Quinton de Kock          SA    784
4             Virat Kohli         IND    767
5            Rohit Sharma         IND    763
6             Ross Taylor          NZ    744
7            David Warner         AUS    737
8          Jonny Bairstow         ENG    732
9             Aaron Finch         AUS    715

In [22]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs
page_ODI_Bow = rs.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
ODI_soup_Bow = Soup(page_ODI_Bow.content , "html.parser")
Bowler_Name = []
Teams = []
Ratings =  []
Bowler = ODI_soup_Bow.find_all("td", class_ ="table-body__cell rankings-table__name name")
Bowler[0:4]
for i in Bowler:
    Bowler_Name.append(i.get_text().replace("\n"," "))
    
Bowler_Name[0:3]
Team_Name_B = ODI_soup_Bow.find_all("span", class_="table-body__logo-text")
Team_Name_B[0:4]
for i in Team_Name_B:
    Teams.append(i.get_text().replace("\n"," "))

Teams[0:4]
Rating_Bows = ODI_soup_Bow.find_all("td", class_="table-body__cell rating")
Rating_Bows[0:4]
for i in Rating_Bows:
    Ratings.append(i.get_text().replace("\n"," "))

Ratings[0:4]
Bowler_Name.insert(0 , 'Trent Boult')
Teams.insert(0 ,'NZ')
Ratings.insert(0,'697')
import pandas as pd

Top_Bowler_ODI = pd.DataFrame({})
Top_Bowler_ODI["Batsmen_Names"]=Bowler_Name
Top_Bowler_ODI["Team_Names"]=Teams
Top_Bowler_ODI["Rating"]=Ratings

Top_Bowler_ODI.head(10)

        Batsmen_Names Team_Names Rating
0         Trent Boult         NZ    697
1     Jasprit Bumrah         IND    682
2     Shaheen Afridi         PAK    681
3     Josh Hazlewood         AUS    679
4   Mujeeb Ur Rahman         AFG    676
5       Mehedi Hasan         BAN    672
6         Matt Henry          NZ    663
7      Mohammad Nabi         AFG    657
8        Rashid Khan         AFG    651
9       Chris Woakes         ENG    640

In [23]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs
page_ODI_W = rs.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
ODI_soup_W = Soup(page_ODI_W.content , "html.parser")
Team = []
Match = []
Points = []
Rating =  []
W_Team = ODI_soup_W.find_all("span", class_="u-hide-phablet")
W_Team[0:4]
for i in W_Team:
    Team.append(i.get_text().replace("\n"," "))
Team=Team[0:10]
Team[0:11]
ODI_Match_W = ODI_soup_W.find_all("td", class_="table-body__cell u-center-text")
ODI_Match_W[0:4]
for i in ODI_Match_W:
    Match.append(i.get_text().replace("\n"," "))

Match[0:4]
Total_Match=[]
i=0
while i < len(Match):
    Total_Match.append(Match[i])
    i += 2
        
print(Total_Match)
Points=[]
i=1
while i < len(Match):
    Points.append(Match[i])
    i += 2
        
print(Points) 
ODI_Rating_W = ODI_soup_W.find_all("td", class_="table-body__cell u-text-right rating")
ODI_Rating_W[0:4]
for i in ODI_Rating_W:
    Rating.append(i.get_text().replace("\n"," "))

Rating[0:4] 
import pandas as pd

Top_10_Woman = pd.DataFrame({})
Top_10_Woman["Team_name"] = Team
Top_10_Woman["Total_Match"] = Total_Match
Top_10_Woman["Points"] = Points
Top_10_Woman["Rating"] = Rating
Top_10_Woman

['33', '35', '32', '31', '30', '12', '30', '11', '8', '8']
['4,046', '4,157', '3,219', '3,019', '2,768', '930', '1,962', '495', '351', '0']

      Team_name Total_Match Points Rating
0     Australia          33  4,046    123
1       England          35  4,157    119
2  South Africa          32  3,219    101
3         India          31  3,019     97
4   New Zealand          30  2,768     92
5   West Indies          12    930     78
6    Bangladesh          30  1,962     65
7      Pakistan          11    495     45
8     Sri Lanka           8    351     44
9       Ireland           8      0      0

In [24]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs
page_ODI_Bat_w = rs.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
ODI_soup_Bat_w = Soup(page_ODI_Bat_w.content , "html.parser")
Player_Name = []
Team_W = []
Ratings_W =  []
player_W = ODI_soup_Bat_w.find_all("td", class_ ="table-body__cell name")
player_W[0:4]

for i in player_W:
    Player_Name.append(i.get_text().replace("\n"," "))
    
Player_Name[0:3]
Team_Name_W = ODI_soup_Bat_w.find_all("span", class_="table-body__logo-text")
Team_Name_W[0:4]
 
for i in Team_Name_W:
    Team_W.append(i.get_text().replace("\n"," "))

Team_W[0:4]
Rating_Bat_w = ODI_soup_Bat_w.find_all("td", class_="table-body__cell u-text-right rating")
Rating_Bat_w[0:4]

for i in Rating_Bat_w:
    Ratings_W.append(i.get_text().replace("\n"," "))

Ratings_W[0:4]
Player_Name.insert(0 , 'Alyssa Healy')
Team_W.insert(0 ,'AUS')
Ratings_W.insert(0,'785')
print(len(Team_W), len(Player_Name),len(Ratings_W))
import pandas as pd

Top_player_ODI_W = pd.DataFrame({})
Top_player_ODI_W["Batsmen_Names"]=Player_Name
Top_player_ODI_W["Team_Names"]=Team_W
Top_player_ODI_W["Rating"]=Ratings_W

Top_player_ODI_W.head(10)

28 28 28

           Batsmen_Names Team_Names Rating
0           Alyssa Healy        AUS    785
1           Beth Mooney         AUS    749
2        Natalie Sciver         ENG    747
3       Laura Wolvaardt          SA    732
4           Meg Lanning         AUS    710
5        Rachael Haynes         AUS    701
6     Amy Satterthwaite          NZ    681
7        Tammy Beaumont         ENG    667
8   Chamari Athapaththu          SL    655
9       Smriti Mandhana         IND    649

In [25]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs
page_ODI_ALL = rs.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
ODI_soup_ALL = Soup(page_ODI_ALL.content , "html.parser")
All_Rounder_Name = []
Team_All = []
Rating_All =  []
All_Rounder = ODI_soup_ALL.find_all("td", class_ ="table-body__cell rankings-table__name name")
All_Rounder[0:4]

for i in All_Rounder:
    All_Rounder_Name.append(i.get_text().replace("\n"," "))
    
All_Rounder_Name[0:3]
Team_Name_All = ODI_soup_ALL.find_all("span", class_="table-body__logo-text")
Team_Name_All[0:4]
 
for i in Team_Name_All:
    Team_All.append(i.get_text().replace("\n"," "))

Team_All[0:4]
Team_Name_All = ODI_soup_ALL.find_all("span", class_="table-body__logo-text")
Team_Name_All[0:4]
 
for i in Team_Name_All:
    Team_All.append(i.get_text().replace("\n"," "))

Team_All[0:4]
Rating_All_W = ODI_soup_ALL.find_all("td", class_="table-body__cell rating")
Rating_All_W[0:4]
 
for i in Rating_All_W:
    Rating_All.append(i.get_text().replace("\n"," "))

Rating_All[0:4]
All_Rounder_Name.insert(0 , 'Natalie Sciver')
Team_All.insert(0 ,'ENG')
Rating_All.insert(0,'379')
import pandas as pd

All_ODI_W = pd.DataFrame({})
All_ODI_W["All_Rounder_Name"]=All_Rounder_Name
All_ODI_W["Team_Names"]=Team_All[0:20]
All_ODI_W["Rating"]=Rating_All

All_ODI_W.head(10)

     All_Rounder_Name Team_Names Rating
0      Natalie Sciver        ENG    379
1       Ellyse Perry         AUS    374
2     Marizanne Kapp          SA    349
3    Hayley Matthews          WI    339
4        Amelia Kerr          NZ    336
5   Ashleigh Gardner         AUS    270
6      Deepti Sharma         IND    252
7      Jess Jonassen         AUS    246
8    Katherine Brunt         ENG    220
9    Stafanie Taylor          WI    207

In [26]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.cnbc.com/world/?region=world')
soup = BeautifulSoup(page.content)
headline = soup.find('div', class_="LatestNews-headlineWrapper")
headline.text
headline = []

for i in soup.find_all('div', class_="LatestNews-headlineWrapper"):
    headline.append(i.text)
    
headline
time = soup.find('span', class_="LatestNews-wrapper")
time.text
time = []

for i in soup.find_all('span', class_="LatestNews-wrapper"):
    time.append(i.text)
    
time
newslink = []
for i in soup.find_all("a", class_="LatestNews-headline"):
    newslink.append(i['href'])
newslink
import pandas as pd
df = pd.DataFrame({'headline':headline,'time':time,'newslink':newslink})
df

,headline,time,newslink
0,18 Min AgoMonday's biggest analyst calls: Tesl...,18 Min Ago,https://www.cnbc.com/2022/08/08/mondays-street...
1,46 Min AgoGoldman Sachs says buy this biopharm...,46 Min Ago,https://www.cnbc.com/2022/08/08/goldman-sachs-...
2,53 Min AgoDeadlock over Nord Stream gas turbin...,53 Min Ago,https://www.cnbc.com/2022/08/08/russia-gas-sie...
3,1 Hour AgoStocks making the biggest moves in t...,1 Hour Ago,https://www.cnbc.com/2022/08/08/stocks-making-...
4,1 Hour AgoCash withdrawals in the UK soar as B...,1 Hour Ago,https://www.cnbc.com/2022/08/08/uk-cash-withdr...
5,2 Hours AgoPalantir shares fall more than 14% ...,2 Hours Ago,https://www.cnbc.com/2022/08/08/palantir-pltr-...
6,2 Hours Ago5 things to know before the stock m...,2 Hours Ago,https://www.cnbc.com/2022/08/08/5-things-to-kn...
7,"2 Hours AgoJPMorgan upgrades First Solar, says...",2 Hours Ago,https://www.cnbc.com/2022/08/08/jpmorgan-says-...
8,"2 Hours AgoRoku downgraded to sell by Pivotal,...",2 Hours Ago,https://www.cnbc.com/2022/08/08/roku-downgrade...
9,3 Hours AgoThe market's biggest winners and lo...,3 Hours Ago,https://www.cnbc.com/2022/08/08/the-market-win...
10,3 Hours AgoJPMorgan downgrades shares of Carva...,3 Hours Ago,https://www.cnbc.com/2022/08/08/jpmorgan-downg...
11,4 Hours AgoUN chief calls latest Russian attac...,4 Hours Ago,https://www.cnbc.com/2022/08/08/russia-ukraine...
12,4 Hours AgoU.S. Treasury yields fall as invest...,4 Hours Ago,https://www.cnbc.com/2022/08/08/us-bonds-treas...
13,6 Hours AgoSoftBank posts a $21.6 billion quar...,6 Hours Ago,https://www.cnbc.com/2022/08/08/softbank-visio...
14,7 Hours AgoEuropean stocks climb as traders as...,7 Hours Ago,https://www.cnbc.com/2022/08/08/europe-markets...
15,10 Hours AgoHong Kong cuts hotel quarantine fo...,10 Hours Ago,https://www.cnbc.com/2022/08/08/hong-kong-redu...
16,11 Hours AgoBaidu's robotaxis don't need any h...,11 Hours Ago,https://www.cnbc.com/2022/08/08/baidus-robotax...
17,12 Hours AgoCramer: The Inflation Reduction Ac...,12 Hours Ago,https://www.cnbc.com/2022/08/07/cramer-the-inf...
18,12 Hours AgoWall Street likes growth stocks ag...,12 Hours Ago,https://www.cnbc.com/2022/08/08/wall-street-ba...
19,12 Hours AgoBlackRock: The era of steady growt...,12 Hours Ago,https://www.cnbc.com/2022/08/08/blackrock-era-...
20,12 Hours AgoVideo game giants had a miserable ...,12 Hours Ago,https://www.cnbc.com/2022/08/08/microsoft-xbox...
21,13 Hours AgoTech stocks drag Hong Kong's Hang ...,13 Hours Ago,https://www.cnbc.com/2022/08/08/asia-markets-c...
22,14 Hours AgoCelsius withdraws motion to hire C...,14 Hours Ago,https://www.cnbc.com/2022/08/07/celsius-withdr...
23,14 Hours AgoPotential curb on Australian LNG e...,14 Hours Ago,https://www.cnbc.com/2022/08/07/potential-curb...
24,15 Hours AgoStock futures rise following S&P 5...,15 Hours Ago,https://www.cnbc.com/2022/08/07/stock-market-n...
25,16 Hours AgoClimate groups react to Senate pas...,16 Hours Ago,https://www.cnbc.com/2022/08/07/climate-groups...
26,21 Hours AgoThe best and worst places to live ...,21 Hours Ago,https://www.cnbc.com/2022/08/07/global-liveabi...
27,"23 Hours AgoGeorge Clooney had tequila, Ryan R...",23 Hours Ago,https://www.cnbc.com/2022/08/07/george-clooney...
28,23 Hours Ago9 corporate leaders share their be...,23 Hours Ago,https://www.cnbc.com/2022/08/07/9-busy-people-...
29,24 Hours AgoBethenny Frankel: The most success...,24 Hours Ago,https://www.cnbc.com/2022/08/07/bethenny-frank...

In [35]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup = BeautifulSoup(page.content)
paper_title = soup.find('a', class_="sc-5smygv-0 nrDZj")
paper_title.text

author_name = soup.find('span', class_="sc-1w3fpd7-0 pgLAT")
author_name.text

author = []
for i in soup.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    author.append(i.text)    
author

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [36]:
date = []

for i in soup.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    date.append(i.text)
    
    
date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [37]:
link = []
for i in soup.find_all("a", class_="sc-5smygv-0 nrDZj"):
    link.append(i['href'])
link

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [40]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BeautifulSoup(page.content)
restaurant_name = soup.find('a', class_="restnt-name ellipsis")
restaurant_name.text
cuisine =[]
for  i in soup.find_all('span', class_="double-line-ellipsis"):
     cuisine.append(i.text)
cuisine
location= soup.find('div', class_="restnt-loc ellipsis")
location.text
ratings= soup.find('div', class_="restnt-rating rating-4")
ratings.text
images = []
for i in soup.find_all('img' , class_="no-img"):
    images.append(i['data-src'])
images
titles =[]
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    titles.append(i.text)
    
titles
location =[] 
for i in soup.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)
location
ratings=[] 
for i in soup.find_all('div', class_="restnt-rating rating-4"):
    ratings.append(i.text)
ratings
import pandas as pd
df = pd.DataFrame({'titles':titles,'cuisine':cuisine,'location':location,'ratings':ratings,'images':images})
df

,titles,cuisine,location,ratings,images
0,Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"₹ 1,680 for 2 (approx) | North Indian, Asian, ...","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"₹ 1,700 for 2 (approx) | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"₹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"₹ 2,200 for 2 (approx) | North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [41]:
from bs4 import BeautifulSoup
import requests
page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup = BeautifulSoup(page.content)
rank =[]
for  i in soup.find_all('td', class_="gsc_mvt_p"):
     rank.append(i.text)
rank
publication=[]
for i in soup.find_all('td', class_="gsc_mvt_t"):
    publication.append(i.text)
publication
h5index = [] 
for i in soup.find_all('a', class_="gs_ibl gsc_mp_anchor"):
    h5index.append(i.text)
h5index
h5median = []
for i in soup.find_all('span', class_="gs_ibl gsc_mp_anchor"):
    h5median.append(i.text)
h5median
import pandas as pd
df = pd.DataFrame({'rank':rank,'publication':publication,'h5index':h5index,'h5median':h5median})
df

    rank                                        publication h5index h5median
0     1.                                             Nature     444      667
1     2.                The New England Journal of Medicine     432      780
2     3.                                            Science     401      614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...     389      627
4     5.                                         The Lancet     354      635
..   ...                                                ...     ...      ...
95   96.                       Journal of Business Research     145      233
96   97.                                   Molecular Cancer     145      209
97   98.                                            Sensors     145      201
98   99.                              Nature Climate Change     144      228
99  100.                    IEEE Internet of Things Journal     144      212

[100 rows x 4 columns]