1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
# import necessary libraries at once

import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

# Getting the webpage of url 

url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [3]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []


# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
    
#scrapping rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
    
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos


try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [4]:
# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

In [5]:
wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.30
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.97
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.45
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.63
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.60
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.87
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.54
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.34
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.06
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.65
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.64
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.50
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.36
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.34
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.26
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.25
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.24
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.15

In [4]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
#connect to webdriver
driver=webdriver.Chrome("chromedriver.exe")
driver.maximize_window()

#get webpage
url=("https://www.bcci.tv/")
driver.get(url)
time.sleep(2)

In [11]:
#clicking on menu
button= driver.find_element(By.XPATH,'//span[@class = "menu-icon__line menu-icon__line-right"]').get_attribute('href')

In [12]:
#selecting International
International= driver.find_element(By.XPATH,'//a[@class = "nav-link "]').click()

In [13]:
#clicking on dropdown
Select= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[1]').click()

In [14]:
#selecting ODI
OdI= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]').click()

In [15]:
Match_title= []
Series= []
Place= []
Date= []
Time= []

#scraping Match Title
try:
    Match_title_tag= driver.find_elements(By.XPATH,"//div[@class='fixture-card-top']/h5[2]")
    for i in Match_title_tag:
        Match_title.append(i.text)
except NoSuchElementException as e:
    Match_title.append("--")

#scraping Series
try:
    Series_tag= driver.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Series_tag:
        Series.append(i.text.split("-")[0])
except NoSuchElementException as e:
    Series.append("--")
    
#scraping Place
try:
    Place_tag= driver.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Place_tag:
        Place.append(i.text.split("-")[1].replace("\n",","))
except NoSuchElementException as e:
    Place.append("--") 

#scraping Date
try:
    Date_tag= driver.find_elements(By.XPATH,"//div[@class='match-card-left match-schedule']")
    for i in Date_tag:
        Date.append(i.text)
except NoSuchElementException as e:
    Date.append("--")

#scraping Time   
try:
    Time_tag= driver.find_elements(By.XPATH,"//div[@class='match-card-right match-schedule ']")
    for i in Time_tag:
        Time.append(i.text)
except NoSuchElementException as e:
    Time.append("--")

#printing length
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

#creating Dataframe
international_fixtures=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
international_fixtures

6 6 6 6 6

,Match_title,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground, Hove,Match Centre",18 SEP 2022,3:30 PM IST
1,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground, Canterbury,Match Centre",21 SEP 2022,5:30 PM IST
2,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground, London,Match Centre",24 SEP 2022,3:30 PM IST
3,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,6 OCT 2022,1:30 PM IST
4,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI,"JSCA International Stadium Complex, Ranchi,Ma...",9 OCT 2022,1:30 PM IST
5,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI,"Arun Jaitley Stadium, Delhi,Match Centre",11 OCT 2022,1:30 PM IST

In [16]:
driver.close()

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [17]:
#connect to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

#get webpage
url=("https://www.guru99.com/")
driver.get(url)
time.sleep(2)

In [18]:
# Click Selenium Button
Selenium = driver.find_element(By.XPATH,'//div[@class = "wp-block-kadence-column inner-column-2 kadence-column_f38d98-3a"]') # click button
try:
    Selenium.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(Selenium.get_attribute('href'))

In [19]:
# Click selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [20]:
# Scrape all names tag
names=[]
try:
    name=driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in name[1:]:
        names.append(i.text)
except NoSuchElementException:
    names.append('N/A')

In [21]:
# Scrape all Description tag

desc=[]
try:
    descrip=driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in descrip[1:]:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')

In [22]:
#create Dataframe

dataframe=pd.DataFrame()
dataframe['Exception name']=names
dataframe['Description']=desc
print('\033[1m'+'Selenium Exception from Guru 99 :'+'\033[0m')
dataframe

Selenium Exception from Guru 99 :

Empty DataFrame
Columns: [Exception name, Description]
Index: []

In [23]:
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [30]:
# connect to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

# get webpage
url=("https://www.statisticstimes.com/")
driver.get(url)
time.sleep(2)

In [31]:
# click Economy button

economy = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [32]:
# click on GDP and and go to GDP page

gdp = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [34]:
# click on GDP of Indian State

gdp_state = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
try:
    gdp_state.click()
except ElementNotInteractableException:
    driver.get(gdp_state.get_attribute('href'))

In [35]:
Rank= []
State= []
GSDP_2019= []
GSDP_2018= []
Share_2017= []
GDP= []

#scraping Rank
try:
    Rank_tag=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[1]")
    for i in Rank_tag:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
except StaleElementReferenceException:
    Rank.append('--')

#scraping State
try:
    State_tag=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[2]")
    for i in State_tag:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')
except StaleElementReferenceException:
    State.append('--')

#scraping GSDP 2019
try:
    GSDP_2019_tag=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[3]")
    for i in GSDP_2019_tag:
        GSDP_2019.append(i.text)
except NoSuchElementException:
    GSDP_2019.append('-')
except StaleElementReferenceException:
    GSDP_2019.append('--')
    
#scraping GSDP 2018
try:
    GSDP_2018_tag=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
    for i in GSDP_2018_tag:
        GSDP_2018.append(i.text)
except NoSuchElementException:
    GSDP_2018.append('-')
except StaleElementReferenceException:
    GSDP_2018.append('--')
    
#scraping share 2017
try:
    Share_2017_tag=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
    for i in Share_2017_tag:
        Share_2017.append(i.text)
except NoSuchElementException:
    Share_2017.append('-')
except StaleElementReferenceException:
    Share_2017.append('--')

#scraping GDP
try:
    GDP_tag=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
    for i in GDP_tag:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')
except StaleElementReferenceException:
    GDP.append('--')
    
#printing length
print(len(Rank),len(State),len(GSDP_2019),len(GSDP_2018),len(Share_2017),len(GDP))

#creating Dataframe
State_GDP=pd.DataFrame({"Rank":Rank,"State":State,"GSDP_2019":GSDP_2019,"GSDP_2018":GSDP_2018,"Share_2017":Share_2017,"GDP":GDP}).set_index('Rank')
State_GDP

33 33 33 33 33 33

                          State  GSDP_2019  GSDP_2018 Share_2017      GDP
Rank
1                   Maharashtra          -  2,632,792     13.94%  399.921
2                    Tamil Nadu  1,845,853  1,630,208      8.63%  247.629
3                 Uttar Pradesh  1,687,818  1,584,764      8.39%  240.726
4                       Gujarat          -  1,502,899      7.96%  228.290
5                     Karnataka  1,631,977  1,493,127      7.91%  226.806
6                   West Bengal  1,253,832  1,089,898      5.77%  165.556
7                     Rajasthan  1,020,989    942,586      4.99%  143.179
8                Andhra Pradesh    972,782    862,957      4.57%  131.083
9                     Telangana    969,604    861,031      4.56%  130.791
10               Madhya Pradesh    906,672    809,592      4.29%  122.977
11                       Kerala          -    781,653      4.14%  118.733
12                        Delhi    856,112    774,870      4.10%  117.703
13                      Haryana    831,610    734,163      3.89%  111.519
14                        Bihar    611,804    530,363      2.81%   80.562
15                       Punjab    574,760    526,376      2.79%   79.957
16                       Odisha    521,275    487,805      2.58%   74.098
17                        Assam          -    315,881      1.67%   47.982
18                 Chhattisgarh    329,180    304,063      1.61%   46.187
19                    Jharkhand    328,598    297,204      1.57%   45.145
20                  Uttarakhand          -    245,895      1.30%   37.351
21              Jammu & Kashmir          -    155,956      0.83%   23.690
22             Himachal Pradesh    165,472    153,845      0.81%   23.369
23                          Goa     80,449     73,170      0.39%   11.115
24                      Tripura     55,984     49,845      0.26%    7.571
25                   Chandigarh          -     42,114      0.22%    6.397
26                   Puducherry     38,253     34,433      0.18%    5.230
27                    Meghalaya     36,572     33,481      0.18%    5.086
28                       Sikkim     32,496     28,723      0.15%    4.363
29                      Manipur     31,790     27,870      0.15%    4.233
30                     Nagaland          -     27,283      0.14%    4.144
31            Arunachal Pradesh          -     24,603      0.13%    3.737
32                      Mizoram     26,503     22,287      0.12%    3.385
33    Andaman & Nicobar Islands          -          -          -        -

In [36]:
driver.close()

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [37]:
#connect to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

#get webpage
url=(" https://github.com/")
driver.get(url)
time.sleep(2)

In [38]:
# Clicking on Trending under explore sub menu
trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [39]:
Repository_title= []
Repository_description= []
Contributors_count= []
Language_used= []
urls=[]

#Scraping title of repository
try:
    Repository_title_tag=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h1/a')
    for i in Repository_title_tag:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')
    
#Scraping description of Repository
try:
    description=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in description:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

for i in [Repository_title_tag,description]:
    for j in i:
        if i ==Repository_title_tag:
            Repository_title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==description:
            Repository_description.append(j.text)
    
for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    div_list=driver.find_elements(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div')
    #Scraping count of contributors   
    try:
        Contributors_count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_count.append('-')
    #Scraping used language
    try:
        Language_used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_used.append('-')
        
#printing length
len(Repository_title),len(Repository_description),len(Language_used),len(Contributors_count)

#creating Dataframe
github_trending=pd.DataFrame({"Repository_title":Repository_title[:25],"Repository_description":Repository_description[:25],"Language_used":Language_used[:25],"Contributors_count":Contributors_count[:25]})
github_trending

,Repository_title,Repository_description,Language_used,Contributors_count
0,pocketbase / pocketbase,Open Source realtime backend in 1 file,"[Go, Svelte, SCSS, JavaScript, HTML, Shell]",15
1,alura / techguide,TechGuide main repository with the code that g...,"[TypeScript, JavaScript]",8
2,danielgindi / Charts,Beautiful charts for iOS/tvOS/OSX! The Apple s...,"[Swift, Objective-C, Other]",150
3,ethereum / ethereum-org-website,Ethereum.org is a primary online resource for ...,"[Markdown, TypeScript]",919
4,revanced / revanced-manager,💊 The official ReVanced Manager,"[Dart, Kotlin]",5
5,remix-run / react-router,Declarative routing for React,"[TypeScript, JavaScript]",775
6,PaddlePaddle / PaddleHub,Awesome pre-trained models toolkit based on Pa...,"[Python, Other]",57
7,malwaredllc / byob,An open-source post-exploitation framework for...,"[Python, HTML, Shell, PHP]",28
8,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...","[Rust, Other]",11
9,ascoders / weekly,前端精读周刊。帮你理解最前沿、实用的技术。,[JavaScript],67
10,hoppscotch / hoppscotch,👽 Open source API development ecosystem - http...,"[Vue, TypeScript, JavaScript, SCSS]",193
11,YangLing0818 / Diffusion-Models-Papers-Survey-...,"Diffusion model papers, survey, and taxonomy",[],No
12,dotnet / core,Home repository for .NET Core,"[PowerShell, Shell]",302
13,Alamofire / Alamofire,Elegant HTTP Networking in Swift,[Swift],240
14,protocolbuffers / protobuf,Protocol Buffers - Google's data interchange f...,"[C++, C#, Java, Objective-C, C, Python, Other]",880
15,cloud-custodian / cloud-custodian,"Rules engine for cloud security, cost optimiza...","[Python, Go, HCL, Jinja, Shell, Makefile]",353
16,SerenityOS / ladybird,Ladybird web browser,"[C++, CMake, Java]",16
17,joaocarvalhoopen / How_to_learn_modern_Rust,A guide to the adventurer.,[],No
18,microsoft / playwright,Playwright is a framework for Web Testing and ...,"[TypeScript, HTML, C++, CSS, JavaScript, Objec...",295
19,d3 / d3,"Bring data to life with SVG, Canvas and HTML. 📊📈🎉",[JavaScript],123
20,LSPosed / LSPosed,LSPosed Framework,"[Java, C++, Kotlin, CSS, Shell, C, Other]",62
21,OpenEthan / SMSBoom,短信轰炸/短信测压/ | 一个健壮免费的python短信轰炸程序，专门炸坏蛋蛋，百万接口，多...,"[Python, JavaScript, HTML, Dockerfile]",13
22,Azure / azure-sdk-for-js,This repository is for active development of t...,"[TypeScript, JavaScript, PowerShell, Shell, HT...",358
23,CocoaPods / Specs,The CocoaPods Master Repo,"[5,000+, 32,360]",-
24,google / glog,C++ implementation of the Google logging module,"[C++, CMake, Starlark, Shell]",115

In [40]:
driver.close()

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [29]:
#connect to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

#get webpage
url=("https://www.billboard.com")
driver.get(url)
time.sleep(2)

In [30]:
#Clicking on hot 100
url=driver.find_elements(By.XPATH,"//a[@class='c-link  lrv-a-unstyle-link lrv-u-font-size-18@desktop lrv-u-color-grey:hover u-color-brand-secondary:hover@desktop-max u-padding-a-1@desktop-max lrv-u-padding-tb-025 lrv-u-display-block']")
urls=url[0].get_attribute('href')
driver.get(urls)

In [31]:
#Clicking on hot 100
clickk= driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a')
clickk.click()

ElementClickInterceptedException: Message: element click intercepted: Element is not clickable at point (388, 3549)
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x007478B3+2193587]
	Ordinal0 [0x006E0681+1771137]
	Ordinal0 [0x005F41A8+803240]
	Ordinal0 [0x00628C84+1019012]
	Ordinal0 [0x00626C48+1010760]
	Ordinal0 [0x0062493B+1001787]
	Ordinal0 [0x00623699+997017]
	Ordinal0 [0x00619223+954915]
	Ordinal0 [0x0063D7AC+1103788]
	Ordinal0 [0x00618C04+953348]
	Ordinal0 [0x0063D9C4+1104324]
	Ordinal0 [0x0064DAE2+1170146]
	Ordinal0 [0x0063D5C6+1103302]
	Ordinal0 [0x006177E0+948192]
	Ordinal0 [0x006186E6+952038]
	GetHandleVerifier [0x009F0CB2+2738370]
	GetHandleVerifier [0x009E21B8+2678216]
	GetHandleVerifier [0x007D17AA+512954]
	GetHandleVerifier [0x007D0856+509030]
	Ordinal0 [0x006E743B+1799227]
	Ordinal0 [0x006EBB68+1817448]
	Ordinal0 [0x006EBC55+1817685]
	Ordinal0 [0x006F5230+1856048]
	BaseThreadInitThunk [0x767EFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77347A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77347A6E+238]

In [32]:
#Scrap all tags

Name=[]
Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-font-primary-medium-l u-letter-spacing-0021']").text)
Artist=[]
Artist.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-font-primary-s u-letter-spacing-0021']").text)
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

In [33]:
#Scrap all tags
nameTag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
Name.extend([i.text for i in nameTag])
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist.extend([i.text for i in artistTag])
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [34]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [35]:
# slicing Data
last_week_rank=Rank[0::3]
last_week_rank.insert(0,rank[0])
peak_rank=Rank[1::3]
peak_rank.insert(0,rank[1])
weeks_on_board=Rank[2::3]
weeks_on_board.insert(0,rank[2])

IndexError: list index out of range

In [36]:
#check length of all
len(Name),len(Artist),len(last_week_rank),len(peak_rank),len(weeks_on_board)

(1, 1, 0, 0, 0)

In [37]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Name
df['ArtistName']=Artist
df['Last Week']=last_week_rank[0:100]
df["PeekPosition"]=peak_rank[0:100]
df['Weeks On board']=weeks_on_board[0:100]
df

ValueError: Length of values (0) does not match length of index (1)

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [53]:
#connect to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

#get webpage
url=("https://www.naukri.com/hr-recruiters-consultants")
driver.get(url)
time.sleep(2)

In [54]:
#click on Browse All Recruiters
browse= driver.find_element(By.XPATH,"//a[@title='Search Recruiters']").get_attribute("href")
driver.get(browse)

#Search for Data Science Recruiters
driver.find_element(By.XPATH,"//input[@class='sugInp']").send_keys("Data Science")
driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']").click()

In [55]:
Name= []
Designation= []
Company= []
Skills= []
Location= []

#scraping Recruiters Name
try:
    Name_tag=driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']")
    for i in Name_tag:
        Name.append(i.text)
except:
    Name.append("-")
    
#scraping Designation    
try:
    Designation_tag=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
    for i in Designation_tag:
        Designation.append(i.text)
except:
    Designation.append("-")

#scraping company    
try:
    Company_tag=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")[1::2]
    for i in Company_tag:
        Company.append(i.text)
except:
    Company.append("-")
    
#scraping skills    
try:
    Skills_tag=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
    for i in Skills_tag:
        Skills.append(i.text)
except:
    Skills.append("-")

#scraping Location
try:
    Location_tag=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")
    for i in Location_tag:
            Location.append(i.text)
except:
        Location.append("-")

#printing length
print(len(Name), len(Designation),len(Company), len(Skills), len(Location))

50 50 50 50 48

In [56]:
#creating Dataframe
recruiters=pd.DataFrame({"Name":Name[:48],"Designation":Designation[:48],"Company":Company[:48],"Skills":Skills[:48],"Location":Location})
recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad

In [57]:
driver.close()

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [58]:
#connect to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

#get webpage
url=("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.get(url)
time.sleep(2)

In [59]:
Books=[]
Genre=[]

#scraping novels
try:
    Books_tag=driver.find_elements(By.XPATH,"//td[@class='left']")
    for i in Books_tag:
        Books.append(i.text)
except:
    Books.append("-")
    
#scraping novel's genre
try:
    Genre_tag=driver.find_elements(By.XPATH,"//td[@class='last left']")
    for i in Genre_tag:
        Genre.append(i.text)
except:
    Genre.append("-")

In [60]:
#slicing novels data
Book_name=Books[1::5]
Author_name=Books[2::5]
Volumes_sold=Books[3::5]
Publisher=Books[4::5]

In [61]:
#printing length
print(len(Book_name), len(Author_name),len(Volumes_sold), len(Publisher), len(Genre))

100 100 100 100 100

In [62]:
#creating Dataframe
novels=pd.DataFrame({"Book Name":Book_name,"Author Name":Author_name,"Volumes Sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [63]:
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [64]:
#connect to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

#get webpage
url=("http://www.imdb.com/list/ls095964455/")
driver.get(url)
time.sleep(2)

In [65]:
Name= []
Year_span= []
Genre= []
Run_time= []
Ratings= []
Votes= []

#scraping series name
try:
    Name_tag= driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in Name_tag:
        Name.append(i.text)
except NoSuchElementException as e:
    Name.append("--")

#scraping series Year span
try:
    Year_span_tag= driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
    for i in Year_span_tag:
        Year_span.append(i.text)
except NoSuchElementException as e:
    Year_span.append("--") 
    
#scraping series Genre
try:
    Genre_tag= driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in Genre_tag:
        Genre.append(i.text)
except NoSuchElementException as e:
    Genre.append("--")
    
#scraping series Run Time
try:
    Run_time_tag= driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in Run_time_tag:
        Run_time.append(i.text)
except NoSuchElementException as e:
    Run_time.append("--")
    
#scraping series Ratings
try:
    Ratings_tag= driver.find_elements(By.XPATH,"//span[@class='ipl-rating-star__rating']")
    for i in Ratings_tag[::23]:
        Ratings.append(i.text)
except NoSuchElementException as e:
    Ratings.append("--")
    
#scraping series Votes
try:
    Votes_tag= driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in Votes_tag:
        Votes.append(i.text)
except NoSuchElementException as e:
    Votes.append("--")
    
#printing length
print(len(Name), len(Year_span), len(Genre), len(Run_time), len(Ratings), len(Votes))

100 100 100 100 100 100

In [66]:
#creating Dataframe
tv_series= pd.DataFrame({"Name":Name[:100],"Year span":Year_span[:100],"Genre":Genre[:100],"Run time":Run_time[:100],"Ratings":Ratings[:100],"Votes":Votes[:100]})
tv_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,049,894"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,145,639"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,424"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,868"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,444"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,565"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,569"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,799"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,023"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,494"

In [67]:
driver.close()

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [68]:
#connect to webdriver
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

#get webpage
url=("https://archive.ics.uci.edu/")
driver.get(url)
time.sleep(2)

In [69]:
#clicking on view all Dataset
Dataset= driver.find_elements(By.XPATH,"//span[@class='normal']/b/a")[0].get_attribute('href')
driver.get(Dataset)

In [70]:
# Scraping dataset
data=[]
try:
    data_tag=driver.find_elements(By.XPATH,"//td//p[@class='normal']")
    for i in data_tag[8:4362]:
        data.append(i.text )
except:
    data.append('-')

In [71]:
#slicing dataset
Dataset_name=data[::7]
Data_type=data[1::7]
Task=data[2::7]
Attribute_type=data[3::7]
instances=data[4::7]
attribute=data[5::7]
Year=data[6::7]

In [72]:
#printing length
print(len(Dataset_name), len(Data_type), len(Task), len(Attribute_type), len(instances), len(attribute), len(Year))

622 622 622 622 622 622 622

In [73]:
#creating Dataframe
Datasets= pd.DataFrame({"Dataset name":Dataset_name,"Data type":Data_type,"Task":Task,"Attribute type":Attribute_type,"Instances":instances,"Attribute":attribute,"Year":Year})
Datasets

,Dataset name,Data type,Task,Attribute type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [ ]:
driver.close()